#groups {
	list-style-type: none;
	padding: 0;
}

#groups li {
	padding: 0.5 em;
}

#groups .logo {
	float: left;
	margin-right: 0.5em;
	width: 40px;
	height: 40px;
}

#groups li img {
	max-width: 40px;
	max-height: 40px;
}

.clb {
	clear: both;
}
